@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

::-webkit-scrollbar {
  width: 5px;
  /* @apply mx-1; */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  @apply rounded-full bg-[#8892b05e];
}

::-moz-selection {
  color: #ccd6f6;
  background-color: #233554;
}

::selection {
  color: #ccd6f6;
  background-color: #233554;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: @apply border;
  -webkit-text-fill-color: #ccd6f6;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .icon {
    @apply text-whiteone cursor-pointer hover:text-whitetwo transition duration-200;
  }

  .background {
    background: linear-gradient(
      0deg,
      rgba(4, 26, 48, 0.63),
      rgba(4, 26, 48, 0.63)
    );
  }

  .navIcon {
    @apply font-fira font-medium text-[15px] cursor-pointer transition duration-200 hover:text-secondary;
  }

  .primaryButton {
    @apply text-secondary text-[12px] lg:text-[13px] font-fira border border-secondary p-[6px] lg:p-[10px] rounded-[5px] transition duration-200 hover:bg-tertiary cursor-pointer;
  }
}

.toggleButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: inherit;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px; */
  /* border-radius: 50%; */
  background: transparent;
  z-index: 150;
}

.toggleButton:active {
  background: transparent;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  z-index: 150;
}
